body{
    width: 100%;
    text-align: center;
}
h1{
    color: #F6A844;
    font-family: 'Open Sans Condensed', sans-serif;
}
h2{
    color: #B77D7C;
    font-family: 'Open Sans Condensed', sans-serif;
}
#form{
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
}
#validate{
    border-radius: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    background-color: white;
    border-color: grey;
}

.modal{
   display: none;
    position: fixed;
    background-color:white;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#ligne1{
    font-family:'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
}
#ligne2{
    font-family:'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 30px;

}
#prenom{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    border-color:grey ;
}
#bouton{
    height: 42px;
    border-radius: 15px;
    border-color: grey;
    background-color: white;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 30px
    text-align: center
}
#photographe{
    width: auto;
    height: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#clock{
    width: 70px;
    margin-top: 20px;
    color: #F6A844;
}

